/* Navbar container */
.navbar-custom {
  background-color: #202020; /* Igual que los items del sidebar */
  border-bottom: 1px solid black;
  padding: 0.7rem 1rem;
}

/* Marca */
.navbar-custom .navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff; /* igual al activo del sidebar */
}

/* Texto de usuario */
.navbar-custom .user-text {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
  color: white;
}

/* Botón cerrar sesión */
.navbar-custom .btn-logout {
  border: 1px solid #C21107;
  color: #C21107;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
  background-color: white;
}

.navbar-custom .btn-logout:hover {
  background-color: #C21107;
  color: white;
}