create database Sigre
go
use Sigre
GO
/****** Object:  Table [dbo].[Alimentadores]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentadores](
	[ALIM_interno] [int] IDENTITY(1,1) NOT NULL,
	[ALIM_Codigo] [varchar](6) NOT NULL,
	[ALIM_Etiqueta] [varchar](200) NOT NULL,
	[ALIM_Latitud] [float] NULL,
	[ALIM_Longitud] [float] NULL,
	[TRAF_Interno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ALIM_interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arjen]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arjen](
	[Departamento] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
	[Anillo] [varchar](50) NULL,
	[Item] [varchar](50) NOT NULL,
	[CodEstructura] [varchar](50) NULL,
	[TipoElemento] [varchar](50) NULL,
	[Flecha] [varchar](50) NULL,
	[Distancia] [varchar](50) NULL,
	[Vano] [varchar](50) NULL,
	[UtmEste] [varchar](50) NULL,
	[UtmNorte] [varchar](50) NULL,
	[Latitud] [varchar](50) NULL,
	[Longitud] [varchar](50) NULL,
	[Altitud] [varchar](50) NULL,
	[Lado] [varchar](50) NULL,
	[Grado] [varchar](50) NULL,
	[Resistencia] [varchar](50) NULL,
	[Estructura] [varchar](50) NULL,
	[Material] [varchar](50) NULL,
	[TipoTension] [varchar](50) NULL,
	[EsAlumbrado] [varchar](50) NULL,
	[Altura] [varchar](50) NULL,
	[Tension] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[Aplomar] [varchar](50) NULL,
	[Zona] [varchar](50) NULL,
	[Acceso] [varchar](50) NULL,
	[Elemento] [varchar](50) NULL,
	[CablesTelecom] [varchar](50) NULL,
	[CablesElect] [varchar](50) NULL,
	[CablesInstalar] [varchar](50) NULL,
	[TotalCables] [varchar](50) NULL,
	[DistanciaEje] [varchar](50) NULL,
	[TieneRienda] [varchar](50) NULL,
	[TieneCruce] [varchar](50) NULL,
	[Propietario] [varchar](50) NULL,
	[TipoCable] [varchar](50) NULL,
	[Bobinain] [varchar](50) NULL,
	[Bobinaout] [varchar](50) NULL,
	[Marquilla] [varchar](50) NULL,
	[TipoEmpalme] [varchar](50) NULL,
	[CajasEmpalme] [varchar](50) NULL,
	[IdCajaEmpalme] [varchar](50) NULL,
	[DistanciaCivil] [varchar](50) NULL,
	[VanoAcumulado] [varchar](50) NULL,
	[Abscisa1] [varchar](50) NULL,
	[Abscisa2] [varchar](50) NULL,
	[Reservain] [varchar](50) NULL,
	[Reservaout] [varchar](50) NULL,
	[TipoReserva] [varchar](50) NULL,
	[LongitudReserva] [varchar](50) NULL,
	[Contratista] [varchar](50) NULL,
	[Observaciones] [varchar](50) NULL,
	[Herrajes] [varchar](50) NULL,
	[HerrajeFijacion] [varchar](50) NULL,
	[AlturaCable] [varchar](50) NULL,
	[FormulaArjen] [varchar](50) NULL,
	[Adss_pe_100] [varchar](50) NULL,
	[Adss_pe_200] [varchar](50) NULL,
	[Adss_pe_300] [varchar](50) NULL,
	[Adss_pe_600] [varchar](50) NULL,
	[Retencion] [varchar](50) NULL,
	[Amortiguador] [varchar](50) NULL,
	[Cruceta] [varchar](50) NULL,
	[KitCierre] [varchar](50) NULL,
	[Collarines] [varchar](50) NULL,
	[LongitudCircunferencia] [varchar](50) NULL,
	[Foto1] [varchar](50) NULL,
	[Foto2] [varchar](50) NULL,
 CONSTRAINT [PK_Arjen] PRIMARY KEY CLUSTERED 
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[EVEN_Interno] [int] IDENTITY(1,1) NOT NULL,
	[EVEN_Codigo] [int] NOT NULL,
	[EVEN_Tipo] [char](1) NOT NULL,
	[EVEN_Aviso] [char](1) NULL,
	[EVEN_Responsable] [char](1) NOT NULL,
	[EVEN_Nivel] [char](1) NOT NULL,
	[EVEN_Salio] [char](3) NOT NULL,
	[EVEN_CodSalio] [int] NULL,
	[EVEN_Fallo] [char](3) NOT NULL,
	[EVEN_CodFallo] [int] NOT NULL,
	[EVEN_Ubicacion] [varchar](500) NULL,
	[EVEN_ElementoActuo] [char](3) NULL,
	[EVEN_FaseR] [bit] NOT NULL,
	[EVEN_FaseS] [bit] NOT NULL,
	[EVEN_FaseT] [bit] NOT NULL,
	[EVEN_FaseN] [bit] NOT NULL,
	[EVEN_FecCreacion] [datetime] NOT NULL,
	[EVEN_FecIniProg] [datetime] NULL,
	[EVEN_FecFinProg] [datetime] NULL,
	[EVEN_FecIniEjec] [datetime] NOT NULL,
	[EVEN_FecFinEjec] [datetime] NOT NULL,
	[USUA_Interno] [int] NOT NULL,
	[EVEN_ResumenActividades] [varchar](1000) NULL,
	[EVEN_Sustentacion] [varchar](1000) NULL,
	[EVEN_Afectados] [int] NOT NULL,
	[EVEN_Potencia] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Eventos__CCCC76A0E0CDA2C7] PRIMARY KEY CLUSTERED 
(
	[EVEN_Interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interrupciones]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interrupciones](
	[CodDenuncia] [varchar](12) NOT NULL,
	[HoraInicio] [datetime] NOT NULL,
	[HoraFin] [datetime] NOT NULL,
	[Afectados] [int] NOT NULL,
	[Fases] [varchar](3) NOT NULL,
	[Potencia] [decimal](7, 3) NOT NULL,
	[Energia] [decimal](11, 3) NOT NULL,
	[Motivo] [varchar](50) NOT NULL,
	[Localizacion] [varchar](50) NOT NULL,
	[Sustento1] [varchar](200) NULL,
	[Sustento2] [varchar](200) NULL,
	[Sustento3] [varchar](200) NULL,
	[Acciones] [varchar](200) NULL,
	[PlanContigencia] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodDenuncia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seds]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seds](
	[SED_Interno] [int] IDENTITY(1,1) NOT NULL,
	[SED_Etiqueta] [varchar](100) NOT NULL,
	[SED_Potencia] [float] NOT NULL,
	[SED_Latitud] [float] NOT NULL,
	[SED_Longitud] [float] NOT NULL,
	[SED_PotReactiva] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SED_Interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sets]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sets](
	[CODIGOSET] [varchar](50) NOT NULL,
	[ANGULO] [varchar](50) NULL,
	[SIMBOLO] [varchar](50) NULL,
	[ETIQUETA] [varchar](50) NULL,
	[FILTRO] [varchar](50) NULL,
	[Voltaje] [float] NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
 CONSTRAINT [PK_Sets] PRIMARY KEY CLUSTERED 
(
	[CODIGOSET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sistemas]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sistemas](
	[SIST_Interno] [int] IDENTITY(1,1) NOT NULL,
	[SIST_Codigo] [varchar](6) NOT NULL,
	[SIST_Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SIST_Interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/7/2019 6:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[USUA_Interno] [int] IDENTITY(1,1) NOT NULL,
	[USUA_Clave] [varchar](20) NOT NULL,
	[USUA_Password] [char](40) NOT NULL,
	[USUA_Activo] [bit] NOT NULL,
	[USUA_Nombres] [varchar](100) NOT NULL,
	[USUA_ApellidoPat] [varchar](100) NOT NULL,
	[USUA_ApellidoMat] [varchar](100) NOT NULL,
	[USUA_FecCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUA_Interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alimentadores] ON 

INSERT [dbo].[Alimentadores] ([ALIM_interno], [ALIM_Codigo], [ALIM_Etiqueta], [ALIM_Latitud], [ALIM_Longitud], [TRAF_Interno]) VALUES (1003, N'', N'O-244', -18.02231277398251, -70.26950561079849, 2)
SET IDENTITY_INSERT [dbo].[Alimentadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

SET IDENTITY_INSERT [dbo].[Eventos] OFF
INSERT [dbo].[Interrupciones] ([CodDenuncia], [HoraInicio], [HoraFin], [Afectados], [Fases], [Potencia], [Energia], [Motivo], [Localizacion], [Sustento1], [Sustento2], [Sustento3], [Acciones], [PlanContigencia]) VALUES (N'001201704187', CAST(N'2017-11-24T10:11:00.000' AS DateTime), CAST(N'2017-11-24T12:39:00.000' AS DateTime), 12829, N'R', CAST(0.017 AS Decimal(7, 3)), CAST(2.565 AS Decimal(11, 3)), N'Se apertura el alimentador O-142 con sistema de pr', N'O-142', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Interrupciones] ([CodDenuncia], [HoraInicio], [HoraFin], [Afectados], [Fases], [Potencia], [Energia], [Motivo], [Localizacion], [Sustento1], [Sustento2], [Sustento3], [Acciones], [PlanContigencia]) VALUES (N'001201704466', CAST(N'2017-11-28T15:03:00.000' AS DateTime), CAST(N'2017-11-28T15:42:00.000' AS DateTime), 3368, N'RST', CAST(0.017 AS Decimal(7, 3)), CAST(0.673 AS Decimal(11, 3)), N'Se encontró abierto el recloser AR003 con sistema ', N'AR003', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Interrupciones] ([CodDenuncia], [HoraInicio], [HoraFin], [Afectados], [Fases], [Potencia], [Energia], [Motivo], [Localizacion], [Sustento1], [Sustento2], [Sustento3], [Acciones], [PlanContigencia]) VALUES (N'001201704585', CAST(N'2017-11-30T03:25:00.000' AS DateTime), CAST(N'2017-11-30T04:47:00.000' AS DateTime), 12, N'RST', CAST(0.000 AS Decimal(7, 3)), CAST(0.002 AS Decimal(11, 3)), N'Se abre recloser SR003 con sistema de protección 5', N'SR003', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Seds] ON 

INSERT [dbo].[Seds] ([SED_Interno], [SED_Etiqueta], [SED_Potencia], [SED_Latitud], [SED_Longitud], [SED_PotReactiva]) VALUES (13052, N'A-017E', 397.7033, -17.673172829331158, -71.3622169535264, 16)
INSERT [dbo].[Seds] ([SED_Interno], [SED_Etiqueta], [SED_Potencia], [SED_Latitud], [SED_Longitud], [SED_PotReactiva]) VALUES (13053, N'A-018E', 0.2604, -17.67281833, -71.36235167, 16)
INSERT [dbo].[Seds] ([SED_Interno], [SED_Etiqueta], [SED_Potencia], [SED_Latitud], [SED_Longitud], [SED_PotReactiva]) VALUES (13054, N'A-020E', 77.6309, -17.677435997375916, -71.364236519196481, 16)
GO
SET IDENTITY_INSERT [dbo].[Seds] OFF
INSERT [dbo].[Sets] ([CODIGOSET], [ANGULO], [SIMBOLO], [ETIQUETA], [FILTRO], [Voltaje], [Latitud], [Longitud]) VALUES (N'1', NULL, NULL, N'SET PARQUE INDUSTRIAL', NULL, 10.5, -17.99082, -70.231979)
INSERT [dbo].[Sets] ([CODIGOSET], [ANGULO], [SIMBOLO], [ETIQUETA], [FILTRO], [Voltaje], [Latitud], [Longitud]) VALUES (N'2', NULL, NULL, N'SUBESTACIÓN TACNA', NULL, 10.5, -18.025343, -70.27165)
INSERT [dbo].[Sets] ([CODIGOSET], [ANGULO], [SIMBOLO], [ETIQUETA], [FILTRO], [Voltaje], [Latitud], [Longitud]) VALUES (N'3', NULL, NULL, N'SET VIÑANI', NULL, 10.5, -18.082221, -70.267912)
SET IDENTITY_INSERT [dbo].[Sistemas] ON 

INSERT [dbo].[Sistemas] ([SIST_Interno], [SIST_Codigo], [SIST_Nombre]) VALUES (16, N'SE0110', N'Ilo')
INSERT [dbo].[Sistemas] ([SIST_Interno], [SIST_Codigo], [SIST_Nombre]) VALUES (17, N'SE0111', N'Moquegua')
INSERT [dbo].[Sistemas] ([SIST_Interno], [SIST_Codigo], [SIST_Nombre]) VALUES (18, N'SE0112', N'Tacna')
SET IDENTITY_INSERT [dbo].[Sistemas] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([USUA_Interno], [USUA_Clave], [USUA_Password], [USUA_Activo], [USUA_Nombres], [USUA_ApellidoPat], [USUA_ApellidoMat], [USUA_FecCreacion]) VALUES (185, N'mfoco', N'087ABEBDB33D55424C4526D2F82E6F7A        ', 1, N'MANUEL', N'FOCO', N'SANAVIA', CAST(N'2012-02-06T12:56:40.950' AS DateTime))
INSERT [dbo].[Usuarios] ([USUA_Interno], [USUA_Clave], [USUA_Password], [USUA_Activo], [USUA_Nombres], [USUA_ApellidoPat], [USUA_ApellidoMat], [USUA_FecCreacion]) VALUES (186, N'vsilva', N'EC0C93EADC10F735AFB3D179311768CC        ', 1, N'VICTOR', N'SILVA', N'PONCE', CAST(N'2012-11-24T11:36:12.943' AS DateTime))
INSERT [dbo].[Usuarios] ([USUA_Interno], [USUA_Clave], [USUA_Password], [USUA_Activo], [USUA_Nombres], [USUA_ApellidoPat], [USUA_ApellidoMat], [USUA_FecCreacion]) VALUES (187, N'wvillanueva', N'947BD0476C0BBB0D10DB6DB500A06A5A        ', 1, N'WILBER ', N'VILLANUEVA', N'ROSADO', CAST(N'2012-11-24T13:05:46.883' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
ALTER TABLE [dbo].[Alimentadores]  WITH CHECK ADD  CONSTRAINT [fk_ALIM_TRAF] FOREIGN KEY([TRAF_Interno])
REFERENCES [dbo].[Trafos] ([TRAF_Interno])
GO
ALTER TABLE [dbo].[Alimentadores] CHECK CONSTRAINT [fk_ALIM_TRAF]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [fk_EVEN_USUA] FOREIGN KEY([USUA_Interno])
REFERENCES [dbo].[Usuarios] ([USUA_Interno])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [fk_EVEN_USUA]
GO
