delete Archivos
where ARCH_Interno in (8,9,10,25,26,107,108,109,1560,1562,1565,3249,3251)

Update a 
set a.ARCH_Nombre = CONCAT(OldArchivos.ALIM_Etiqueta,'/',OldArchivos.ARCH_Nombre)
From Archivos as a
right join
					(
					select ar.ARCH_Interno, ALIM_Etiqueta, ar.ARCH_Nombre
					From Archivos ar
					join Deficiencias d on d.DEFI_Interno = ar.ARCH_CodTabla and ar.ARCH_Tabla = 'Deficiencias'
					join 
					(
								select		'POST' TipoElemento, p.POST_Interno IdElemento, p.POST_CodigoNodo CodIns, p.POST_Etiqueta CodElemento,
											p.ALIM_Interno, a.ALIM_Etiqueta
								from		Postes			p
								inner join	Alimentadores	a	on	p.ALIM_Interno	=	a.ALIM_Interno
								union all	
								select		'SED' TipoElemento, s.SED_Interno IdElemento, s.SED_Codigo CodIns, s.SED_Etiqueta CodElemento,
											s.ALIM_Interno, a.ALIM_Etiqueta
								from		Seds			s
								inner join	Alimentadores	a	on	s.ALIM_Interno	=	a.ALIM_Interno
								union all
								select		'VANO' TipoElemento, v.VANO_Interno, v.VANO_Codigo CodIns, v.VANO_Etiqueta CodElemento,
											v.ALIM_Interno, a.ALIM_Etiqueta
								from		Vanos	v
								inner join	Alimentadores	a	on	v.ALIM_Interno	=	a.ALIM_Interno
					)			as	el on d.DEFI_IdElemento = el.IdElemento and d.DEFI_TipoElemento = el.TipoElemento
					where ar.ARCH_Nombre like 'Sin Def%' or ar.ARCH_Nombre like 'Defi%'
					) as OldArchivos on OldArchivos.ARCH_Interno = a.ARCH_Interno
where a.ARCH_Interno in (OldArchivos.ARCH_Interno)